imports:
  - { resource: vendor/ec-europa/oe-code-review/dist/conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - node_modules/
    - web/core/
    - web/modules/contrib/
    - web/themes/contrib/
    - web/profiles/contrib/
    - web/libraries/
    - web/sites/
    - web/autoload.php
