drupal:
  root: "build"
  base_url: "http://127.0.0.1:8888"
  site:
    name: "OpenEuropa Project"
    mail: "info@example.org"
    # Change to "config_installer" if you want to install your site from configuration stored in "../config/sync".
    profile: "oe_profile"
    update: "false"
    locale: "en"
  database:
    host: "127.0.0.1"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  settings:
    config_directories:
      sync: '../config/sync'

commands:
  drupal:site-setup:
    - { task: "chmod", file: "${drupal.root}/sites", permissions: 0775 }
    - { task: "symlink", from: "../../custom/modules", to: "${drupal.root}/modules/custom" }
    - { task: "symlink", from: "../../custom/themes", to: "${drupal.root}/themes/custom" }
    - { task: "symlink", from: "../../custom/profiles", to: "${drupal.root}/profiles/custom" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:behat" }
    - { task: "run", command: "setup:phpunit" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
